@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #ece6c2;
  --color-secondary: #6f5643;
  --color-accent: #4d4d4d;
  /* --color-background: #ece6c2; */
}

.dashed-gradient-bottom {
  /* Line thickness (2px) and position (bottom left) */
  background-image: linear-gradient(
    to right,
    rgba(236, 230, 194, 0),
    #6f5643 50%,
    rgba(0, 0, 0, 0)
  );
  background-size: 100% 2px;
  background-position: bottom left;
  background-repeat: no-repeat;

  /* Mask creates the dashes (6px dash, 4px gap) */
  mask-image: repeating-linear-gradient(
    to right,
    black,
    black 6px,
    transparent 6px,
    transparent 10px
  );
  mask-size: 100% 2px;
  mask-position: bottom left;
  mask-repeat: no-repeat;
}
